.login-box {
  width: 90%;
  max-width: 460px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.login-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.login-box input,
.login-box select {
  font-size: 16px;
  width: 100%;
  height: 50px;
  background: none;
  color: inherit;
  border: 1px solid #dadce0;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 20px;
}
.login-box select {
  cursor: pointer;
}
input::placeholder {
  font-size: 14px;
}
.login-box button {
  font-size: 16px;
  height: 40px;
  width: 100%;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.login-box button:hover {
  background-color: #1567d3;
  box-shadow: 5px 6px 12px -6px rgba(0, 0, 0, 0.5);
}
.login-box img {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
}
@media (max-width: 768px) {
  .login-box h1 {
    font-size: 22px;
  }
  .login-box input,
  .login-box select,
  .login-box button {
    font-size: 14px;
  }
}