.myNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2px;
    font-size: 24px;
    color: #4a4a8f;
}

.myNavbar img {
    width: 60px;
}
.myNavbar h3{
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

@media (max-width: 600px) {
    .myNavbar h3{
        font-size: 18px;
    }
}