.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 15vh;
}

.team-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.team-select  label {
    margin-right: 10px;
    min-width: fit-content;
    font-weight: 600;
}
.team-select select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    background: transparent;
}
.team-select>div {
    width: 215px;
    display: flex;
    align-items: center;
}
.admin-button {
    color: rgb(98,77,227);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.admin-button:hover{
    text-decoration: underline;
}

.top-three {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    width: 50vw;
}

.top-three div {
    text-align: center;
    font-weight: 600;
}

.top-three img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.GoldMedalistImg img{
    height: 120px !important;
    width: 120px !important;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
}

.tableHeading{
    border-radius: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
}
td{
    font-size: 14px;
    font-weight: 600;
}
tbody>tr:nth-child(odd) {
    background-color: #F7F6FE;
}
.trophy {
    font-size: 18px;
}
.aligntrophy{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: left;
}
@media (max-width: 600px) {
    header {
        font-size: 24px;
    }
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar h3{
        font-size: 16px;
    }
    .team-select {
        align-items: end;
        gap: 10px;
    }
    .team-select select,
    .admin-button {
        width: 100%;
    }

    table, th, td {
        font-size: 14px;
    }
    .top-three{
        width: 80vw;
    }
    .top-three div img {
        width: 60px;
        height: 60px;
    }
    .GoldMedalistImg img{
        height: 80px !important;    
        width: 80px !important;
    }
    .top-three p {
        font-size: 10px;
    }
    .top-three div:nth-child(2) img {
        width: 90px;
    }
    .team-select>div {
        width: 120px;
        flex-direction: column;
    }
}
@media (max-width: 424px) {
    table, th, td {
        font-size: 12px;
    }
}